.parallax {
    position: relative;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;

    height: 300px;
    z-index: -1;
}

.parallax-base {
    position: relative;
    background-color: $white;
    z-index: 2;
}
