html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.headings {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .headings:last-child {
    margin-right: 0; }

.to-the-right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .to-the-right:last-child {
    margin-right: 0; }

@media only screen and (min-width: 750px) {
  .headings {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .headings:last-child {
      margin-right: 0; }
  .to-the-right {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-left: 8.5298%;
    padding-top: 35px; }
    .to-the-right:last-child {
      margin-right: 0; } }

@-webkit-keyframes around-town {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes around-town {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-webkit-keyframes other-way {
  from {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes other-way {
  from {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.parallax {
  position: relative;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  height: 300px;
  z-index: -1; }

.parallax-base {
  position: relative;
  background-color: #fff;
  z-index: 2; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url(../fonts/icons/icomoon.eot?9l8pyy);
  src: url(../fonts/icons/icomoon.eot?9l8pyy#iefix) format("embedded-opentype"), url(../fonts/icons/icomoon.ttf?9l8pyy) format("truetype"), url(../fonts/icons/icomoon.woff?9l8pyy) format("woff"), url(../fonts/icomoon.svg?9l8pyy#icomoon) format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-right-arrow:before {
  content: "\e902"; }

.icon-github:before {
  content: "\e900"; }

.icon-linkedin:before {
  content: "\e901"; }

.icon-up-chevron:before {
  content: "\e906"; }

.icon-thin-arrow:before {
  content: "\e907"; }

section {
  text-align: center;
  z-index: 2; }

.offscreen {
  display: block;
  position: absolute;
  left: -999999px;
  top: -999999px; }

.faded {
  opacity: 0; }

.filler {
  height: 80px; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 62.5%;
  letter-spacing: 0.25px; }

h1 {
  padding: 30px 0 6px;
  font-family: 'Lato', sans-serif;
  font-size: 3.6em;
  font-weight: bold; }

h2 {
  padding: 2em 0 40px;
  font-family: 'Lato', sans-serif;
  font-size: 2.4em;
  font-weight: bold; }
  h2::after {
    display: block;
    padding-top: 0.25em;
    content: "...";
    color: #6f7376; }

a {
  text-decoration: none;
  color: #6ac1c6; }

p {
  font-size: 1.6em;
  line-height: 120%; }

ul li {
  font-size: 1.6em; }

.font-gray {
  color: #999999; }

.subtitle::after {
  display: block;
  padding: 0.25em 0 1em;
  font-size: 24px;
  content: "...";
  color: #6f7376; }

.underline {
  text-decoration: underline; }

header.nudge .parallax {
  background-image: url(../_ui/assets/_nudge/nudge.jpg);
  background-size: auto 300px; }

header.fulcrum .parallax {
  background-image: url(../_ui/assets/_fulcrum/fulcrum_large.jpg);
  background-size: auto 400px; }

header.rockbox .parallax {
  background-image: url(../_ui/assets/_rockbox/rockbox.jpg);
  background-size: auto 300px; }

header.clutch .parallax {
  position: relative;
  background-image: url(../_ui/assets/_clutch/clutch.jpg);
  background-size: auto 400px;
  background-position: top right; }

header.rezza .parallax {
  position: relative;
  background-color: #292831;
  background-image: url("../assets/_rezza/rezza_logo.png");
  background-position: center; }

header.starbucks .parallax {
  position: relative;
  background-color: #115738;
  background-image: url("../assets/_starbucks/starbucks-banner.jpg");
  background-position: center; }

@media only screen and (min-width: 530px) {
  header.nudge .parallax {
    background-size: auto 400px;
    background-position: top -50px center; }
  header.fulcrum .parallax {
    background-size: auto 500px; } }

@media only screen and (min-width: 640px) {
  header.rockbox .parallax {
    background-image: url(../_ui/assets/_rockbox/rockbox.jpg);
    background-size: auto 400px;
    background-position: top -40px right; }
  header.clutch .parallax {
    background-image: url(../_ui/assets/_clutch/clutch.jpg);
    background-size: auto 500px;
    background-position: top -50px right; } }

@media only screen and (min-width: 780px) {
  header.nudge .parallax {
    background-color: #f6f7f7;
    background-size: 960px auto;
    background-position: top -95px center; }
  header.fulcrum .parallax {
    background-color: #f6f7f7;
    background-size: 960px auto;
    background-position: top -30px center; }
  header.rockbox .parallax {
    background-color: #f6f7f7;
    background-size: 960px auto;
    background-position: top -80px center; }
  header.clutch .parallax {
    background-color: #f6f7f7;
    background-size: 960px auto;
    background-position: top -100px center; } }

.nav-bar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 80px;
  overflow: visible;
  top: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 20;
  -webkit-transition: background-color 0.25s ease, top 0.25s linear;
  transition: background-color 0.25s ease, top 0.25s linear; }
  .nav-bar .container {
    width: 100%;
    height: 100%;
    padding-top: 3em;
    height: 80px;
    position: relative; }
    .nav-bar .container svg {
      position: absolute;
      left: 20px;
      width: 150px;
      z-index: 20; }
      .nav-bar .container svg .st0 {
        fill: #fff;
        -webkit-transition: fill 0.5s ease;
        transition: fill 0.5s ease; }
        .nav-bar .container svg .st0.black {
          fill: #333333;
          -webkit-transition: fill 0.5s ease;
          transition: fill 0.5s ease; }
    .nav-bar .container #nav-icon {
      display: inline-block;
      position: absolute;
      right: 2em;
      top: 3em;
      width: 2.5em;
      height: 30px;
      cursor: pointer;
      z-index: 20;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
      .nav-bar .container #nav-icon .line {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff;
        border-radius: 2em;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: top .2s ease-in-out 0.2s,background 0.2s linear, visibility 0.1s ease 0.2s,-webkit-transform 0.2s ease-in-out;
        transition: top .2s ease-in-out 0.2s,background 0.2s linear, visibility 0.1s ease 0.2s,-webkit-transform 0.2s ease-in-out;
        transition: top .2s ease-in-out 0.2s,transform 0.2s ease-in-out, background 0.2s linear, visibility 0.1s ease 0.2s;
        transition: top .2s ease-in-out 0.2s,transform 0.2s ease-in-out, background 0.2s linear, visibility 0.1s ease 0.2s,-webkit-transform 0.2s ease-in-out; }
        .nav-bar .container #nav-icon .line:nth-child(1) {
          top: 5px; }
        .nav-bar .container #nav-icon .line:nth-child(2) {
          top: 13px;
          visibility: visible; }
        .nav-bar .container #nav-icon .line:nth-child(3) {
          top: 21px; }
        .nav-bar .container #nav-icon .line.gray {
          background: #6f7376; }
      .nav-bar .container #nav-icon.open .line {
        -webkit-transition: top 0.2s ease-in-out, visibility 0.2s ease 0.1s, -webkit-transform 0.2s ease-in-out 0.2s;
        transition: top 0.2s ease-in-out, visibility 0.2s ease 0.1s, -webkit-transform 0.2s ease-in-out 0.2s;
        transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s, visibility 0.2s ease 0.1s;
        transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s, visibility 0.2s ease 0.1s, -webkit-transform 0.2s ease-in-out 0.2s; }
        .nav-bar .container #nav-icon.open .line:nth-child(1) {
          top: 13px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        .nav-bar .container #nav-icon.open .line:nth-child(2) {
          visibility: hidden; }
        .nav-bar .container #nav-icon.open .line:nth-child(3) {
          top: 13px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    .nav-bar .container #nav-links {
      position: absolute;
      background-color: #fff;
      top: 0;
      left: 100%;
      width: 0;
      height: 100vh;
      overflow: hidden;
      z-index: 3;
      -webkit-transition: width .25s ease-in-out, left 0.25s ease-in-out;
      transition: width .25s ease-in-out, left 0.25s ease-in-out; }
      .nav-bar .container #nav-links ul {
        padding: 10em 0 2em; }
        .nav-bar .container #nav-links ul li {
          font-size: 1.8em;
          text-align: center;
          position: relative; }
          .nav-bar .container #nav-links ul li a {
            display: block;
            padding: 1em 0;
            font-size: 1em;
            font-weight: bold;
            color: #FFA7A7;
            border: none; }
      .nav-bar .container #nav-links.popup {
        width: 100%;
        position: fixed;
        left: 0;
        z-index: 6;
        -webkit-transition: width .25s ease-in-out, left 0.25s ease-in-out;
        transition: width .25s ease-in-out, left 0.25s ease-in-out; }
  .nav-bar.sticky {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px #ccc;
    -webkit-transition: background-color 0.5s ease, top 0.25s linear;
    transition: background-color 0.5s ease, top 0.25s linear; }
  .nav-bar.hide {
    top: -80px;
    overflow: hidden;
    -webkit-transition: top 0.25s linear;
    transition: top 0.25s linear; }
  .nav-bar.project {
    background-color: #fff; }
    .nav-bar.project .container svg .st0 {
      fill: #333333; }
    .nav-bar.project .container #nav-links {
      width: 100%;
      height: auto;
      top: 20px;
      right: 20px;
      left: auto; }
      .nav-bar.project .container #nav-links ul {
        padding: 0; }
        .nav-bar.project .container #nav-links ul li {
          float: right;
          display: inline-block; }
          .nav-bar.project .container #nav-links ul li a {
            color: #6f7376; }
            .nav-bar.project .container #nav-links ul li a:hover {
              color: #FFA7A7; }

@media only screen and (min-width: 750px) {
  .nav-bar .container #nav-icon {
    display: none; }
  .nav-bar .container #nav-links {
    background-color: transparent;
    width: 100%;
    height: auto;
    top: 20px;
    right: 0;
    left: auto; }
    .nav-bar .container #nav-links ul {
      padding: 0;
      float: right; }
      .nav-bar .container #nav-links ul li {
        display: inline-block;
        padding: 0 20px;
        float: left; }
        .nav-bar .container #nav-links ul li a {
          color: #fff; }
          .nav-bar .container #nav-links ul li a.gray {
            color: #6f7376; }
          .nav-bar .container #nav-links ul li a:hover {
            color: #FFA7A7; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .nav-bar .container svg {
    top: 5px; } }

.hero {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #6ac1c6), to(#fff));
  background: -webkit-linear-gradient(top, #6ac1c6 50%, #fff 100%);
  background: linear-gradient(to bottom, #6ac1c6 50%, #fff 100%); }
  .hero .parallax {
    height: 500px; }
    .hero .parallax .container p {
      font-family: "Sniglet", cursive;
      font-size: 3.6em;
      color: #fff;
      text-align: center;
      cursor: default;
      padding: 4em 20px; }

@media only screen and (min-width: 375px) {
  .hero .parallax .container p {
    padding-top: 5em; } }

@media only screen and (min-width: 702px) {
  .hero .parallax .container p {
    padding-top: 6em; } }

.portfolio {
  background-color: #fff;
  padding-bottom: 8em;
  z-index: 4; }
  .portfolio .container a {
    position: relative;
    margin-bottom: 2em;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    height: auto;
    overflow: hidden; }
    .portfolio .container a:last-child {
      margin-right: 0; }
    .portfolio .container a::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .portfolio .container a figure img {
      display: block;
      width: 100%; }
    .portfolio .container a figure figcaption {
      position: absolute;
      bottom: -40px;
      left: 40px;
      font-family: 'Karla', sans-serif;
      font-size: 3.2em;
      font-weight: bolder;
      color: #FFA7A7;
      -webkit-transition: bottom 0.5s ease;
      transition: bottom 0.5s ease;
      z-index: 2; }
    .portfolio .container a figure::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      border-bottom: 5px solid #FFA7A7;
      z-index: 2;
      -webkit-transition: width 0.25s ease;
      transition: width 0.25s ease; }
    .portfolio .container a:hover::after {
      background-color: rgba(0, 0, 0, 0.7);
      -webkit-transition: background-color 0.25s;
      transition: background-color 0.25s; }
    .portfolio .container a:hover figure::after {
      width: 100%; }
    .portfolio .container a:hover figure figcaption {
      bottom: 40px;
      -webkit-transition: bottom 0.5s ease;
      transition: bottom 0.5s ease; }
    .portfolio .container a.rezza {
      background-color: #292831; }
      .portfolio .container a.rezza figure img {
        -o-object-fit: contain;
        object-fit: contain;
        height: 300px; }
    .portfolio .container a.starbucks {
      background-color: #f7c400; }

@media only screen and (min-width: 750px) {
  .portfolio .container {
    padding: 0 20px; }
    .portfolio .container a {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 0%;
      height: 300px; }
      .portfolio .container a:last-child {
        margin-right: 0; }
      .portfolio .container a:nth-child(2n) {
        margin-right: 0; }
      .portfolio .container a:nth-child(2n+1) {
        clear: left; }
      .portfolio .container a figure {
        height: 100%; }
        .portfolio .container a figure img {
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover; } }

.about {
  background-color: #f6f7f7;
  padding-bottom: 8em; }
  .about .container p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    text-align: left;
    height: auto; }
    .about .container p:last-child {
      margin-right: 0; }
  .about .container img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    margin-top: 3em; }
    .about .container img:last-child {
      margin-right: 0; }

@media only screen and (min-width: 750px) {
  .about .container {
    padding: 0 20px; }
    .about .container p, .about .container img {
      padding: 0;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 0%; }
      .about .container p:last-child, .about .container img:last-child {
        margin-right: 0; }
    .about .container p {
      float: right;
      margin-right: 0; }
    .about .container img {
      margin-top: 0; } }

.contact .container {
  padding-bottom: 250px; }
  .contact .container #result {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    padding-bottom: 2em;
    font-size: 1.8em; }
    .contact .container #result:last-child {
      margin-right: 0; }
  .contact .container .form {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    max-height: 500px;
    opacity: 1; }
    .contact .container .form:last-child {
      margin-right: 0; }
    .contact .container .form input, .contact .container .form textarea, .contact .container .form .submit {
      font-family: 'Karla', sans-serif;
      font-weight: 400;
      font-size: 1.4em; }
    .contact .container .form input, .contact .container .form textarea {
      display: block;
      background-color: #eeeeee;
      margin-bottom: 1em;
      padding: 1em 1em;
      width: 100%;
      border: 1px solid #eeeeee;
      border-radius: 5px;
      -webkit-transition: border 0.25s linear;
      transition: border 0.25s linear; }
    .contact .container .form input.red, .contact .container .form textarea.red {
      border: 1px solid #ff0000;
      -webkit-transition: border 0.25s linear;
      transition: border 0.25s linear; }
    .contact .container .form .submit {
      background-color: #FFA7A7;
      width: 40%;
      padding: 1em 0;
      border-radius: 5px;
      cursor: pointer; }
    .contact .container .form.hide {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease; }

@media only screen and (min-width: 750px) {
  .contact .container {
    padding-left: 20px;
    padding-right: 20px; }
    .contact .container .form {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .contact .container .form:last-child {
        margin-right: 0; }
      .contact .container .form textarea {
        height: 200px; }
      .contact .container .form #name, .contact .container .form #email {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-left: 0%; }
        .contact .container .form #name:last-child, .contact .container .form #email:last-child {
          margin-right: 0; }
        .contact .container .form #name:nth-child(2n), .contact .container .form #email:nth-child(2n) {
          margin-right: 0; }
        .contact .container .form #name:nth-child(2n+1), .contact .container .form #email:nth-child(2n+1) {
          clear: left; } }

footer {
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  max-height: 0;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow: 0px 0px 5px #ccc;
  -webkit-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
  z-index: 4; }
  footer .container {
    position: relative; }
    footer .container p {
      color: #999999;
      text-align: center; }
      footer .container p.icons {
        padding: 0.25em 0 1.5em;
        font-size: 1.8em; }
    footer .container a.icon {
      display: inline-block;
      padding: 0 0.25em;
      font-size: 1.8em;
      color: #FFA7A7;
      -webkit-animation: around-town 1.2s infinite linear;
      animation: around-town 1.2s infinite linear;
      -webkit-animation-play-state: paused;
      animation-play-state: paused; }
      footer .container a.icon:hover {
        -webkit-animation-play-state: running;
        animation-play-state: running; }
    footer .container a.smooth {
      background-color: #fff;
      overflow: hidden;
      position: absolute;
      display: inline-block;
      width: 80px;
      height: 0;
      bottom: calc(100% + 40px);
      padding-top: 0;
      left: calc((100% - 80px)/2);
      font-size: 1.6em;
      text-align: center;
      border-radius: 20em 20em 0 0;
      -webkit-box-shadow: 0px -2px 3px #ccc;
      box-shadow: 0px -2px 3px #ccc;
      -webkit-transition: padding 0.15s ease, height 0.15s ease;
      transition: padding 0.15s ease, height 0.15s ease; }
      footer .container a.smooth:hover {
        color: #FFA7A7;
        -webkit-transition: color 0.25s ease-in-out;
        transition: color 0.25s ease-in-out; }

footer.appear {
  max-height: 400px;
  padding: 4em 0 3em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  footer.appear .container a.smooth {
    height: 40px;
    padding-top: 20px;
    -webkit-transition: padding 0.1s ease .2s, height 0.1s ease 0.2s;
    transition: padding 0.1s ease .2s, height 0.1s ease 0.2s; }

.summary {
  text-align: left;
  padding-bottom: 40px; }
  .summary .container {
    padding: 0 20px; }
    .summary .container h2 {
      padding-bottom: 0; }
      .summary .container h2:after {
        content: ""; }
    .summary .container a.website {
      padding-top: 2em;
      font-size: 1.8em;
      font-weight: bold;
      color: #FFA7A7; }
      .summary .container a.website::after {
        content: "\e902";
        font-family: 'icomoon' !important;
        speak: none;
        font-size: 0.6em;
        font-style: normal;
        font-weight: bold;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        padding-left: 8px;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: padding 0.2s linear;
        transition: padding 0.2s linear; }
      .summary .container a.website:hover::after {
        padding-left: 14px;
        -webkit-transition: padding 0.2s linear;
        transition: padding 0.2s linear; }
    .summary .container img {
      display: block;
      padding: 2em 0;
      max-width: 100%;
      margin: 0 auto; }
    .summary .container ul {
      padding: 2em 0 3em; }
      .summary .container ul li {
        display: inline-block;
        padding: 0.5em 1em;
        margin-bottom: 5px;
        border: 1px solid #333333;
        border-radius: 20em; }
    .summary .container.extra-bottom-padding {
      padding-bottom: 20em; }
  .summary.bg {
    background-color: #f6f7f7; }

@media only screen and (min-width: 750px) {
  .summary {
    padding: 30px 0 60px;
    text-align: left; }
    .summary .container {
      padding: 0 20px; }
      .summary .container h2 {
        padding-top: 30px; } }
