.about {
    background-color: $bg-color;
    padding-bottom: 8em;

    .container {
        p {
            padding: 0 40px;
        }

        img {
            @include span-columns(10);
            @include shift(1);

            margin-top: 3em;
        }
    }
}

@media only screen and (min-width: 750px) {
    .about {
        .container {
            padding: 0 20px;

            p, img {
                padding: 0;
                @include span-columns(6);
                @include shift(0);
            }

            p {
                float: right;
                @include omega();
                text-align: left;
            }

            img {
                margin-top: 0;
            }

        }
    }
}
