header.nudge {
    .parallax {
        background-image: url(../_ui/assets/_nudge/nudge.jpg);
        background-size: auto 300px;
    }
}

header.fulcrum {
    .parallax {
        background-image: url(../_ui/assets/_fulcrum/fulcrum_large.jpg);
        background-size: auto 400px;
    }
}

header.rockbox {
    .parallax {
        background-image: url(../_ui/assets/_rockbox/rockbox.jpg);
        background-size: auto 300px;
    }
}

header.clutch {
    .parallax {
        position: relative;

        background-image: url(../_ui/assets/_clutch/clutch.jpg);
        background-size: auto 400px;
        background-position: top right;
    }
}

@media only screen and (min-width: 530px) {
    header.nudge {
        .parallax {
            background-size: auto 400px;
            background-position: top -50px center;
        }
    }

    header.fulcrum {
        .parallax {
            background-size: auto 500px;
        }
    }
}

@media only screen and (min-width: 640px) {
    header.rockbox {
        .parallax {
            background-image: url(../_ui/assets/_rockbox/rockbox.jpg);
            background-size: auto 400px;
            background-position: top -40px right;
        }
    }

    header.clutch {
        .parallax {
            background-image: url(../_ui/assets/_clutch/clutch.jpg);
            background-size: auto 500px;
            background-position: top -50px right;
        }
    }
}

@media only screen and (min-width: 780px) {
    header.nudge {
        .parallax {
            background-color: $bg-color;
            background-size: 960px auto;
            background-position: top -95px center;
        }
    }

    header.fulcrum {
        .parallax {
            background-color: $bg-color;
            background-size: 960px auto;
            background-position: top -30px center;
        }
    }

    header.rockbox {
        .parallax {
            background-color: $bg-color;
            background-size: 960px auto;
            background-position: top -80px center;
        }
    }

    header.clutch {
        .parallax {
            background-color: $bg-color;
            background-size: 960px auto;
            background-position: top -100px center;
        }
    }
}
