.hero {
    position: relative;

    .parallax {
        background-color: $cotton;
        background: linear-gradient($cotton, $white);
        background-attachment: fixed;

        height: 500px;

        .container {

            p {
                // position: fixed;
                // font-family: "Kitty", cursive;
                font-size: 3.6em;
                color: $white;
                text-align: center;
                cursor: default;

                padding: 5em 20px;
            }
        }
    }
}
