.hero {
    position: relative;
    background: linear-gradient(to bottom, $cotton 50%, $white 100%);

    .parallax {

        height: 500px;

        .container {

            p {
                // position: fixed;
                font-family: "Sniglet", cursive;
                font-size: 3.6em;
                // font-weight: bold;
                color: $white;
                text-align: center;
                cursor: default;

                padding: 4em 20px;
            }
        }
    }
}

@media only screen and (min-width: $iphone6-width) {
    .hero {
        .parallax {
            .container {
                p {
                    padding-top: 5em;
                }
            }
        }
    }
}

@media only screen and (min-width: 702px) {
    .hero {
        .parallax {
            .container {
                p {
                    padding-top: 6em;
                }
            }
        }
    }
}
