.nav-bar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 80px;
    overflow: visible;

    z-index: 20;
    transition: background-color 0.25s ease;


    .container {
        width: 100%;
        height: 100%;
        padding-top: 3em;
        height: 80px;
        position: relative;

        svg {
            position: absolute;
            padding-left: 20px;
            width: 150px;

            z-index: 20;

            .st0 {
                fill: $white;

                transition: fill 0.5s ease;

                &.gray {
                    fill: $gray;

                    transition: fill 0.5s ease;
                }
            }
        }

        #nav-icon {
            display: inline-block;
            position: absolute;
            right: 2em;
            top: 3em;
            width: 2.5em;
            height: 30px;
            cursor: pointer;
            z-index: 20;

            transform: rotate(0deg);

            .line {
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                background: $white;

                border-radius: 2em;
                transform: rotate(0deg);
                transition: top .2s ease-in-out 0.2s,transform 0.2s ease-in-out, background 0.2s linear, visibility 0.1s ease 0.2s;

                &:nth-child(1) {
                    top: 5px;
                }

                &:nth-child(2) {
                    top: 13px;
                    visibility: visible;
                }

                &:nth-child(3) {
                    top: 21px;
                }

                &.gray {
                    background: $gray;
                }
            }

            &.open {

                .line {

                    transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s, visibility 0.2s ease 0.1s;

                    &:nth-child(1) {
                        top: 13px;
                        transform: rotate(45deg);

                    }

                    &:nth-child(2) {
                        visibility: hidden;
                    }

                    &:nth-child(3) {
                        top: 13px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        #nav-links {
            position: absolute;
            background-color: $white;
            top: 0;
            left: 100%;
            width: 0;
            height: 100vh;
            overflow: hidden;
            z-index: 3;
            transition: width .25s ease-in-out, left 0.25s ease-in-out;

            ul {
                padding: 10em 0 2em;

                li {
                    font-size: 1.8em;
                    text-align: center;
                    position: relative;


                    a {
                        display: block;
                        padding: 1em 0;
                        font-size: 1em;
                        font-weight: bold;
                        color: $pink;

                        border: none;

                        // &:hover, &:focus {
                        //     border-bottom: 2px solid $pink;
                        // }
                    }
                }
            }
            &.popup {
                width: 100%;
                position: fixed;
                left: 0;
                z-index: 6;

                transition: width .25s ease-in-out, left 0.25s ease-in-out;
            }
        }
    }

    //sticky nav bar when not at the top of the page
    &.sticky {
        background-color: $white;
        box-shadow: 1px 1px 1px #ccc;

        transition: background-color 0.5s ease, height 0.25s linear;
    }

    &.hide {
        height: 0;
        overflow: hidden;

        transition: overflow 0.25s linear, height 0.25s linear;

    }
}

@media only screen and (min-width: 750px) {
    .nav-bar {

        .container {
            #nav-icon {
                display: none;
            }

            #nav-links {
                background-color: transparent;
                width: 100%;
                height: auto;
                top: 20px;
                right: 0;
                left: auto;

                ul {
                    padding: 0;

                    li {
                        float: right;
                        display: inline-block;
                        padding: 0 20px;

                        a {
                            // font-weight: bold;
                            color: $white;

                            &.gray {
                                color: $gray;
                            }

                            &:hover {
                                color: $pink;
                            }
                        }
                    }
                }
            }
        }
    }
}

//nav bar for individual project page. Since scrolling.js selects nav bar using class nav-bar, I changed the class for individual pages to nav bar project.
.nav-bar-project {
    @extend .nav-bar;

    .container {
        svg {
            .st0 {
                fill: $gray;
            }
        }

        #nav-links {
            width: 100%;
            height: auto;
            top: 20px;
            right: 20px;
            left: auto;

            ul {
                padding: 0;

                li {
                    float: right;
                    display: inline-block;

                    a {
                        color: $gray;

                        &:hover {
                            color: $pink;
                        }
                    }
                }
            }
        }
    }
}
