section {
    text-align: center;

    z-index: 2;
}


//--------Classes----------
.offscreen {
    display: block;
    position: absolute;
    left: -999999px;
    top: -999999px;
}

.faded {
    opacity: 0;
}

.filler {
    height: 80px;
}
