h1 {
    padding: 24px 0 6px;
    font-size: 3.6em;
}

h2 {
    padding: 2em 0 1em;
    font-size: 2.4em;

    &::after {
        display: block;
        padding-top: 0.25em;

        content: "...";
        color: $gray;
    }
}

a {
    text-decoration: none;
    color: $cotton;
}

p {
    font-size: 1.6em;
}

ul li {
    font-size: 1.6em;
}

// classes
.font-gray {
    color: $font-gray;
}

.subtitle {
    &::after {
        display: block;
        padding: 0.25em 0 1em;

        font-size: 24px;

        content: "...";
        color: $gray;
    }
}
